---
import ClientFetchExample from '../components/client-fetch-example';
---

<html>
  <body>
    <p
      style={{
        height: '100vh',
      }}
    >
      Scroll down
    </p>
    <ClientFetchExample />
  </body>
</html>
